---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
import ProductList from '../components/ProductList.jsx';
import Header from '../components/Header.astro';

const hasCookie = Astro.cookies.has("user_session");


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
        <h1 class="text-3xl text-[#f8fafcef] font-extrabold p-4 text-center">Inventario de Productos</h1>
        
        <ProductList client:load />

    </main>
</Layout>
